// Website logo
.logo {
    // Geometri
    display: block;

    // Text
    font-family: $fontLogo;
    font-size: 24px;
    line-height: 1.2;
    color: var(--accent-text-color);
    
    // Decor
    text-decoration: none;

    // Changing style by Breakpoint (1200px)
    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.2;
    }    
}

// Было -> 'logo-second-half-head' - стало ->'logo__text-header'
.logo__text-header {
    color: var(--logo-dicor-color);
}

// Было -> 'logo-second-half-foot' - стало ->'logo__text-footer'
.logo__text-footer {
    color: var(--complementary-text-color);
}

.header__logo {

    // Changing geometri by Breakpoint
    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
   
}

.footer__logo {

    // Changing geometri by Breakpoint
    @media screen and (min-width: $desktop) {
        margin-bottom: 20px;
    }
}