// Styles for the "Gallery button filter"
// Было -> 'portfolio-filter' - стало -> 'filter-list'
.filter-list {
    // Geometry
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    // Было -> 'portfolio-filter-itm' - стало -> 'filter-list__item'
    &__item:not(:last-child) {
        // Geometri
        padding-right: 8px;
    }

    // Было -> 'portfolio-filter-button' - стало -> 'filter-list__btn'
    &__btn {
        // Buttons geometry
        display: block;
        border: 1px solid transparent;
        background-color: var(--secondary-background-color);
        box-shadow: none;
        border-radius: 4px;
        padding: 6px 22px;
        
        // Buttons text
        color: var(--secondary-text-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        
        // Buttons interactivity settings
        cursor: pointer;
        
        // Animation execution options
        transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
        box-shadow 250ms var(--timing-function);

        // Hover & Focus effects
        &:hover, &:focus {
            background-color: var(--accent-text-color);
            color: var(--complementary-text-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),           0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }

    // Было -> 'first-portfolio-filter-button' - стало -> 'filter-list__btn--broader'
    &__btn--broader {
        // Button geometry
        padding: 6px 25px;
    }
}

// Styles for the "Card gallery"
// General styles for all portfolio
// Было -> 'portfolio' - стало -> 'portfolio-list'
.portfolio-list {
    // Geometry
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--portfolio-card-set-gap));
    margin-left: calc(-1 * var(--portfolio-card-set-gap));

        // Было -> 'portfolio-itm' - стало -> 'portfolio-list__item'
        &__item {
            // Geometry
            flex-basis: calc(100% / 3 - var(--portfolio-card-set-gap));
            margin-top: var(--portfolio-card-set-gap);
            margin-left: var(--portfolio-card-set-gap);

            // Decor
            box-shadow: none;
            
            // Animation execution options
            transition: box-shadow 250ms var(--timing-function);

            // Hover & Focus effects
            &:hover, &:focus-within {
                // Decoration effect
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);

                // Animation effect
                .portfolio-card__overlay {
                        transform: translateY(0);
                    }
            }
        }

        // Было -> 'portfolio-link' - стало -> 'portfolio-list__link'
        &__link {
            text-decoration: none;
        }
}

// Portfolio cards styles
.portfolio-card {
    // Было -> 'portfolio-card-tumb' - стало -> 'portfolio-card__tumb'
    &__tumb {
        // Position
        position: relative;
        overflow: hidden;
    }

    // Было -> 'portfolio-card-overlay' - стало -> 'portfolio-card__overlay'
    &__overlay {
        // Position
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        // Geometry
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        
        // Animation settings
        transform: translateY(100%);
        
        // Animation execution options
        transition: transform 250ms var(--timing-function);
    }

    // Было -> 'portfolio-card-overlay-text' - стало -> 'portfolio-card__overlay-text'
    &__overlay-text {
        // Text
        font-weight: 400; // ???
        font-size: 18px;
        line-height: 1.6;
        color: var(--complementary-text-color);
    }

    // Было -> 'portfolio-card-content' - стало -> 'portfolio-card__content'
    &__content {
        // Geometry
        padding: 20px 24px;
        
        // Decor
        border-right: 1px solid var(--portfolio-card-border-color);
        border-left: 1px solid var(--portfolio-card-border-color);
        border-bottom: 1px solid var(--portfolio-card-border-color);
    }

    // Было -> 'portfolio-card-title' - стало -> 'portfolio-card__title'
    &__title {
        // Geometry
        margin-bottom: 4px;
        
        // Text
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--secondary-text-color);
    }

    // Было -> 'portfolio-card-text' - стало -> 'portfolio-card__text'
    &__text {
        // Text
        font-size: 16px;
        line-height: 1.9;
        color: var(--maine-text-color);
    }

}

















