// Geometri settings of the ".container" auxiliary class, intended for centering and limiting the content of site elements in width.
.container {
    // General geometry
    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;

    outline: 1px solid tomato;

    // Установка первого "брейк-поинта" (480px), до которого - "Отзывчивая - тянется как 'резиновая' (responsive) веб-страница", и после достижения которой - фиксируется размер страницы.
    @media screen and (min-width: $mobile) {
        // Breakpoint geometry
        width: 480px;
    }

    // Установка второго "брейк-поинта"(768px)
    @media screen and (min-width: $tablet) {
        // Breakpoint geometry
        width: 768px;
    }

    // Установка третьего "брейк-поинта"(1200px)
    @media screen and (min-width: $desktop) {
        // Breakpoint geometry
        width: 1200px;
    }
}